<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table reservation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            margin: 20px;
        }

        .form-item {
            margin-bottom: 10px;
        }

        button {
            padding: 10px;
        }
    </style>
    <script src="scripts.js" defer></script>
</head>
<body>
<div class="container">
    <h1>Table reservation in restaurant</h1>
    <div class="form-item">
        <label for="restaurant">Choose restaurant:</label>
        <select id="restaurant">
            {#for restaurant in restaurants}
                <option value="{restaurant.id}">{restaurant.name}</option>
            {/for}
        </select>
    </div>
    <div class="form-item">
        <label for="date">Date:</label>
        <input type="date" id="date">
    </div>
    <div class="form-item">
        <label for="time">Hour:</label>
        <input type="time" id="time" min="12:00" max="22:00" required>
    </div>
    <div class="form-item">
        <label>Table number:</label>
        <select id="tableNumber">
            <!-- dynamically generated in JavaScript -->
        </select>
    </div>
    <button onclick="reserveTable()">Reserve table</button>
</div>


</body>
</html>
